* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --ff-primary: 'Roboto', sans-serif;
    --hue: 191;
    --blue-primary: hsl(var(--hue), 91%, 25%, 1);
    --blue-dark: hsla(var(--hue), 61%, 6%, 50%);
    --blue-other: hsl(var(--hue), 72%, 13%);
    --blue-dark-row: hsla(194, 64%, 6%, 0.5);
    --blue-light-row: hsl(191, 65%, 7%);
    --text-color: #e1e1e6;
}

body {
    background-color: #000;
}

body * {
    font-family: var(--ff-primary);
    color: var(--text-color);
    font-size: 1.6rem;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

#app {
    max-width: 80%;
    margin: 5rem auto;
}

.sr-only {
    position: absolute;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8rem;
}

.search {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search input {
    height: 4.8rem;
    width: 46rem;
    padding: 1.6rem;
    text-align: left;
    border: none;
    background-color: var(--blue-dark);
    border-radius: 5px;
}

.search button {
    height: 4.8rem;
    width: 17rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--blue-primary);
    border-radius: 5px;
    border: none;
    padding: 0 1rem;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: center;
    transition: all 100ms ease-in;
}

.search button:hover {
    background-color: white;
    color: var(--blue-primary);
}

.search button:hover path {
    fill: var(--blue-primary);
}

table {
    width: 100%;
}

table * {
    text-align: left;
}

td {
    padding: 1.5rem 4rem;
}

table th {
    padding: 1.5rem 4rem;
}

thead tr th {
    background-color: #092D38;
}

td.user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

td.user img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    object-fit: cover;
}

tr p {
    font-weight: bold;
}

.remove {
    background: none;
    border: none;
    color: #F75A68;
    font-weight: bold;
}


/*** borders config */

table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid var(--blue-primary);
    border-radius: 12px;
}

tbody tr td {
    border-bottom: 1px solid var(--blue-primary);
}

table tr:nth-child(even) td {
    background-color: var(--blue-light-row);
}

table tr:nth-child(odd) td {
    background-color: var(--blue-dark-row);
}

thead th:first-child {
    border-top-left-radius: 12px;
}

thead th:last-child {
    border-top-right-radius: 12px;
}

tbody tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}

tbody tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}


/* Empty table */

.empty-table {
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-dark-row);
    gap: 7rem;
}

.empty-table h1 {
    color: #4E5455;
    font-weight: 700;
    font-size: 40px;
    line-height: 25px;
}